.container{
    background-color: #2157F1;
    color: white;
}
.container ul {
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
.nav{
    justify-content: space-between;
}
.nav li:hover{
    text-decoration: underline;
}
.nav li{
    padding: 10px;
}

@media (max-width: 500px) {
   
}